* {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;

}

.navleft {
    width: 50%;
    height: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navname {
    cursor: pointer;
    margin-right: 10px;
}

.post {
    color: grey;
}

.navright {
    width: 50%;
    height: 126px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list {
    
    list-style: none;
    display: flex;
    margin: 0 5%;
}
.anc{
    text-decoration: none;
    color: gray;
}
.arpc {
    margin: 0 12px;
    cursor: pointer;
    opacity: .6;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: #e6dace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formdiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 40px;
    width: 35%;
    height: 55%;
}
.nme{
    display: flex;
    justify-content: space-between;
    /* margin: 20px; */
}
.name{
    margin-right: 20px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid black;
    width: 260px;
    height: 30px;
}

.ipt{
    /* margin: 20px; */
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    border-bottom:2px solid black ;
    width: 97%;
    height: 30px;
    
}
.send{
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: blue;
}










.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100px;
    background-color: white;
}
.footerright{
    text-align: center;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.footerleft{
    margin-left: 50px;
}
.detail{
    color: grey;
    font-size: small;
}

